:root {
  --game-bg-color: #427939;
  --game-bg-shadow-color: #172a14;
  --game-card-shadow-color: #0f1b0da8;
  --text-color: #ffffff;
  --game-card-hover-color: #ffffff3f;
  --game-bg-border-color: #ffffff20;
}

.game-container-cards {
  display: flex;
}

.game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  text-align: center;
  margin-top: 5vh;
  margin-bottom: 5vh;
  color: var(--text-color);
}

.card-image {
  box-shadow: 2px 2px 10px 1px var(--game-card-shadow-color);
  border-radius: 5px;
  left: 0px;
  transition: left 0.25s ease-in, top 0.25s ease-in;
}

.card-body {
  width: 150px;
  height: 230px;
  position: relative;
}

.deck .card-body .card-image:hover {
  box-shadow: 3px 3px 15px 1px var(--game-card-hover-color);
}

.game-border {
  border-style: dashed;
  border-width: 2px;
  border-radius: 10px;
  border-color: var(--game-bg-border-color);
  margin: 30px;
  margin-top: 0px;
  flex-grow: 1;
}

.score-container {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}

.score-container-inner {
  display: flex;
  border-style: dashed;
  border-width: 2px;
  border-radius: 10px 10px 0px 0px;
  border-color: var(--game-bg-border-color);
  border-bottom: none;
  margin-top: 0px;
  color: var(--text-color);
}

.player-score-container,
.computer-score-container,
.vs-score-container {
  padding: 10px 30px 10px 30px;
  text-align: center;
}

.player-score,
.computer-score {
  font-size: 2rem;
  margin-bottom: 0rem;
}

.vs-score-container {
  padding-top: 35px;
}

.btn {
  margin: 10px 180px;
}

.dynamic-wallpaper {
  display: flex;
  flex-direction: column;

  /* Fixes issue with background not being fully displayed when a vertical scrollbar appears.
  See: https://css-tricks.com/css-fix-for-100vh-in-mobile-webkit/*/
  min-height: 100vh;
  /* min-height: -webkit-fill-available; */
  background-image: url('../Assets/background-green.jpg');
  box-shadow: inset 0 0 100vw black;
}

html {
  height: -webkit-fill-available;
}
